<main>
  <section class="vendidos-header">
    <h1>Os mais vendidos</h1>
    <p>Venha conhecer um pouco dos nossos produtos</p>
  </section>

  <section class="container">
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Mouse Gamer</mat-card-title>
          <p>Redragon</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/mouse-redragon.png" alt="Mouse Redragon">
        <mat-card-actions>
          <p>R$150,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Controle PS5</mat-card-title>
          <p>Sony</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/joystick-ps5.png" alt="Controle PS5">
        <mat-card-actions>
          <p>R$450,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Headset Gamer</mat-card-title>
          <p>Razer</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/headset-razer.png" alt="Headset Razer">
        <mat-card-actions>
          <p>R$740,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Processador Core I7</mat-card-title>
          <p>Intel</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/intel-core-i7-10700k.png" alt="Processador Core I7">
        <mat-card-actions>
          <p>R$1500,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Controle Xbox</mat-card-title>
          <p>Joystick</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/joystick-xbox.png" alt="Joystick Xbox">
        <mat-card-actions>
          <p>R409,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Processador Ryzen 5</mat-card-title>
          <p>AMD</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/ryzen5.png" alt="Ryzen 5 3600">
        <mat-card-actions>
          <p>R$589,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Óculos de VR</mat-card-title>
          <p>VR Shinecon</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/vr.png" alt="Óculos de Realidade Virtual">
        <mat-card-actions>
          <p>R$468,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
    <div class="item"><mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Switch</mat-card-title>
          <p>Nintendo</p>
        </mat-card-header>
        <img mat-card-image src="./assets/img/nintendo-switch.png" alt="Nintendo Switch">
        <mat-card-actions>
          <p>R$2253,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card></div>
  </section>

  <section class="category">
    <h2>Categorias</h2>
  <section class="category-container">
    <div class="category-item">
      <a href="/">
        <h3>Hardware</h3>
        <img src="./assets/img/hardware.png" class=category-img alt="Hardware">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>Periféricos</h3>
        <img src="./assets/img/perifericos.png" class=category-img alt="Periféricos">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>Games</h3>
        <img src="./assets/img/games.png" class=category-img alt="Games">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>Computadores</h3>
        <img src="./assets/img/computadores.png" class=category-img alt="Computadores">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>TV</h3>
        <img src="./assets/img/tv.png" class=category-img alt="TV's">
      </a>
    </div>
    <div class="category-item">
      <a href="/" class="category-item-special">
        <h3>Smartphone</h3>
        <img src="./assets/img/smartphones.png" class="category-img category-img-special" alt="Smartphones">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>Casa Inteligente</h3>
        <img src="./assets/img/casa-inteligente.png" class=category-img alt="Casa Inteligente">
      </a>
    </div>
    <div class="category-item">
      <a href="/">
        <h3>Espaço Gamer</h3>
        <img src="./assets/img/espaço-gamer.png" class=category-img alt="Espaço Gamer">
      </a>
    </div>
  </section>
</section>
</main>